<h1>All Lists:</h1>

  <table class="table">
    <thead>
      <tr>
        <th>List Name</th>
        <th colspan="1"></th>
      </tr>
    </thead>

  <tbody>
      <% @lists.each do |list| %>
        <tr>
          <td><%= list.name %></td>
          <td><%= link_to list do%>
          <i class="fas fa-search"></i>
          <% end %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
    <%= link_to new_list_path do%>
    <i class="fas fa-plus-circle"></i>
    <% end %></td>
